name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

# Add this permissions block
permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3  # Updated to v3 for better practice

      - name: Set up Node.js
        uses: actions/setup-node@v3 # Added step for Node.js setup
        with:
          node-version: '18' # Specify a Node.js version

      - name: Install and Build
        run: |
          npm install
          npm run build

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4 # Updated to v4
        with:
          branch: gh-pages
          folder: build
